
    <div class="switch">
      <label class="form-check-label">
          <input *ngIf="boundControl"
          [formControl]="control"
          [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
          [class]="form-check-input"
          [name]="controlName"
          [readonly]="options?.readonly ? 'readonly' : null"
          type="checkbox" >
        <input *ngIf="!boundControl"
          [attr.aria-describedby]="'control' + layoutNode?._id + 'Status'"
          [checked]="isChecked ? 'checked' : null"
          [class]="form-check-input"
          [disabled]="controlDisabled"
          [name]="controlName"
          [readonly]="options?.readonly ? 'readonly' : null"
         
          [value]="qSwitchWidgetModel"
          type="checkbox"
          (click)="updateValue()">
        <span class="slider round"> </span>
    </label>

  </div>
