<div
  [class]="options?.htmlClass || ''">

  <label *ngIf="options?.title"
  [attr.for]="'control' + layoutNode?._id"
  [class]="options?.labelHtmlClass || ''"
  [style.display]="options?.notitle ? 'none' : ''"
  [innerHTML]="options?.title"></label>

  <ui-switch  (change)="onChange($event)" 
    size='{{additional.size}}'  
    color= '{{additional.color}}'
    switchColor= '{{additional.switchColor}}'
    defaultBgColor= '{{additional.defaultBgColor}}'
    defaultBoColor = '{{additional.defaultBoColor}}' 
    uncheckedLabel='{{additional.uncheckedLabel}}' 
    checkedLabel='{{additional.checkedLabel}}'
    [(ngModel)]="enable">
  </ui-switch>
</div>