<!-- 'horizontal' = checkboxes-inline or checkboxbuttons -->

<!-- 'vertical' = checkboxes  -->
  <!-- Select all Switch -->
  <div class="selectAllContainer">
    <div class="switch">
        <label class="form-check-label">
          <input
            [class]="form-check-input"
            [checked]="options?.checked"
           [(ngModel)]="selectAllSwitchModel"
            type="checkbox"
            (ngModelChange)="updateSelectAllSwitch($event)">
          <span class="slider round"></span>
          <span>Select All</span>

      </label>

      </div> 
    </div>
    <!-- Select all switch end -->
  <div [class.form-inline]="layoutOrientation === 'horizontal'" >
  <div *ngFor="let Item of checkboxList"  >
        <div class="switch form-group" >
          <label >
              <input type="checkbox"
              [checked]="Item.checked"
              [value]="Item.value" name="Item.name"
              (change)="updateValue($event)">
              <span class="slider round"></span>
              <span [innerHTML]= "Item.name"></span>

            </label>
        </div>
    </div>
  </div>
  



