<!-- <label *ngIf="options?.title"
[class]="options?.labelHtmlClass || ''"
[style.display]="options?.notitle ? 'none' : ''"
[innerHTML]="options?.title"></label> -->

<!-- 'horizontal' = checkboxes-inline or checkboxbuttons -->

  <div *ngFor="let Item of checkboxList" >
    <span [innerHTML]= "Item.name"></span>
      <div class="switch">
      <label  class="form-check-label">
          <input type="checkbox"  [checked]="Item.checked"
          class="form-check-input"
          [value]="Item.value" name="Item.name"
          (change)="updateValue($event)">

          <span class="slider round"></span>
        </label>
      </div>
    </div>
  


